.bucket{
    .wrapper{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    table{
        border-collapse: collapse;
        border: 1px solid #000;
        width: 500px;
        th{
            padding: 20px;
            text-align: left;
        }
        td{
            position: relative;
            border-top: 1px solid #000;
            padding: 20px;
            img{
                position: absolute;
                top: 2px;
                width: 21px;
                left: 2px;
            }
        }
        .count{
            display: flex;
            input{
                width: 50px;
            }
        }
    }
}

